<hr class="softenclose">
<footer>
	<div class="row">
		<div class="span6">
			<p>
				<small><span class="themeyellow">&copy 2012. Chairlift Development LLC.</span> </small>
			</p>
		</div><!-- /span7-->
		<div class="span6 pull-right">
			<%= link_to(image_tag("wolfgrayscale.png", alt: "wolf", id: "wolf", width: "32px", height: "32px"), "http://spencerward.info", title: "Wolf") %>
			<%= link_to(image_tag("shark-logo.png", alt: "Shark", id: "shark", width: "75px", height: "22px"), "http://bent-cardan.com", title: "Shark") %>
			<%= link_to(image_tag("rails.png", alt: "Ruby on Rails", id: "rails", width: "25px", height: "32px"), "http://api.rubyonrails.org/", title: "This website was made with Ruby on Rails") %>
			<%= link_to(image_tag("unicorn.png", alt: "Unicorn", id: "unicorn", width: "35px", height: "35px"), "https://github.com/blog/517-unicorn", title: "We are running Nginx & Unicorn") %>
			<%= link_to(image_tag("logo.png", alt: "Chairlift Development", id: "logo", width: "100px", height: "35px"), "http://chairliftdevelopment.com", title: "Chairlift Logo") %>
		</div><!-- /span5-->
	</div><!-- /row-->
</footer>