<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Chairlift Development Web Design Agency">
  <meta name="author" content="Chairlift Development">
  <title>Welcome</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="assets/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="topwhitebar"></div>
<div class="container">
	<%= render :partial => 'layouts/header' %>
	<section id="content">
		<%= yield %>	
	</section>
	<section id="sidebar">
	</section>
<%= render :partial => 'layouts/footer' %>
</div><!-- /container -->
</body>
</html>